footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  svg {
    width: 1.1em !important;
    height: 1.1em !important;
    margin-right: 10px;
  }

  .footer-contact {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
  }

  .footer-name {
    color: #9101ff;
  }
  p {
    font-size: 0.85rem;
    color: #8b949e;
    margin-top: 1rem;

    a {
      color: #58a6ff;
      font-weight: 500;

      &:hover {
        color: #1f6feb;
      }
    }
  }
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;

    &:hover {
      color: #1f6feb;
    }

    svg {
      width: 1.2em;
      height: 1.2em;
    }
  }
}
